{
  "extends": "@antfu",
  "rules": {
    "no-only-tests/no-only-tests": "off",
    // prefer global Buffer to not initialize the whole module
    "n/prefer-global/buffer": "off",
    "no-restricted-globals": "off",
    "@typescript-eslint/no-invalid-this": "off",
    "no-restricted-imports": [
      "error",
      {
        "paths": ["path"]
      }
    ],
    "import/no-named-as-default": "off"
  },
  "overrides": [
    {
      "files": "test/**/*",
      "rules": {
        "@typescript-eslint/consistent-type-assertions": "off"
      }
    },
    {
      "files": "packages/**/*.*",
      "rules": {
        "no-restricted-imports": [
          "error",
          {
            "paths": ["vitest", "path"]
          }
        ]
      }
    },
    {
      // these files define vitest as peer dependency
      "files": "packages/{coverage-*,ui,browser,web-worker}/**/*.*",
      "rules": {
        "no-restricted-imports": [
          "error",
          {
            "paths": ["path"]
          }
        ]
      }
    }
  ]
}
